{% extends "control-panel/control-panel.html" %}
{% block title %}<title>Delete Article</title>{% endblock %}
{% block contents %}
<div class="col-md-10 col-sm-8 main-content">
        <form action="" method="POST">
                <div style="margin-top: 150px; text-align: left; padding-bottom: 150px;">
                  <h1 style="font-family:'Oswald', sans-serif; text-align: center; font-size: 44px; color: rgb(167, 31, 31);">DELETE ARTICLE</h1>       
                  <h2 style="font-family:'Oswald', sans-serif; text-align:center; font-size:26px;">Are You Sure You want to delete this article?</h2>
                  <input type="submit" class="btn btn-danger" value="Delete Article" style="margin-left:460px;">
                  <input type="submit" name="back" value="Back" class="btn btn-primary">
                </div>
        </form>
</div>
{% endblock %}