{% extends "control-panel/control-panel.html" %}
{% block title %}<title>New Article</title>{% endblock %}
{% block contents %}
<div class="col-md-10 col-sm-8 main-content">
    <div style="margin-top: 60px; text-align: left; padding-bottom: 150px;">
      <h3 style="font-family:'Oswald', sans-serif; text-align: center;">New Article</h3>
      <form action="" method="POST" enctype="multipart/form-data">
        <div class="form-field">
        <label for="title">Title:</label>
        <input type="text" name="title" id ="title" maxlength="100" placeholder="Article Title" class="form-control" required>
        </div>
        <div class="form-field">
            <label for="description">Description:</label>
            <input type="text" name="description" id ="description" maxlength="280" placeholder="Description About The Article" class="form-control" required>
        </div>
        <div class="form-field">
        <label for="file">Cover Photo (Optional):</label>
        <input id="file" type="file" name="cover">
        </div>
        <div class="form-field">
        <label for="editor">Article Contents:</label>
        <div>
        <textarea id="editor" name="article" placeholder="Article here" rows="9" class="form-control" required></textarea>
        </div>
        </div>
        <input type="submit" value="Add Article" class="btn btn-primary" style="margin-left: 20px;">
      </form>
    </div>
</div>
{% endblock %}