{% extends "control-panel/control-panel.html" %}
{% block title %} <title>Students</title> {% endblock %}
{% block contents %}
<div class="col-md-10 col-sm-8 main-content">
      <div style="margin-top: 60px; text-align: left; padding-bottom: 150px;">
        <h3 style="font-family:'Oswald', sans-serif; text-align: left;">Regestried Students:</h3>
        <table class="table" style="margin-bottom: 40px; margin-top:20px;">
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>Student ID</th>
                    <th>Student Email</th>
                    <th>Registration Date</th>
                    <th>
                        <form action="/control-panel/public_message" method="GET">
                            <input type="hidden" name="public_message_recipients" value="students">
                            <button class="btn btn-primary" style="width: 180px;">Send Public Message</button>
                        </form>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for student in reg_students %}
                <tr>
                    <td>{{ student['id'] }}</td>
                    <td>{{ student['student_id'] }}</td>
                    <td>{{ student['email'] }}</td>
                    <td>{{ student['reg_date'] }}</td>
                    <td>
                        <form action="/control-panel/students/delete" method="GET">
                            <input type="hidden" name="id" value="{{ student['student_id'] }}">
                            <input type="hidden" name="reg" value="true">
                            <button class="btn btn-danger" href="/control-panel/students/delete"  style="width:70px;">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h3 style="font-family:'Oswald', sans-serif; text-align: left;">Students in the Database:</h3>
        <table class="table" style="margin-bottom: 40px; margin-top:20px;">
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>Student ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Gender</th>
                    <th>Faculty</th>
                    <th>Department</th>
                    <th>Year</th>
                    <th>Semester</th>
                    <th colspan="2">
                        <form action="/control-panel/students/add-student" method="GET">
                            <button class="btn btn-primary" style="width: 170px;">Add new Student</button>
                        </form>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for student in students_db %}
                <tr>
                    <td> {{ student['id'] }} </td>
                    <td> {{ student['student_id'] }} </td>
                    <td> {{ student['firstname'] }} </td>
                    <td> {{ student['lastname'] }} </td>
                    <td> {{ student['gender'] }} </td>
                    <td> {{ student['faculty'] }} </td>
                    <td> {{ student['department'] }} </td>
                    <td> {{ student['year'] }}</td>
                    <td> {{ student['semester'] }} </td>
                    <td>
                        <form action="/control-panel/students/edit" method="GET">
                            <input type="hidden" name="id" value="{{ student['student_id'] }}">
                            <button class="btn btn-secondary" href="/control-panel/students/edit"  style="width:70px;">Edit</button>
                        </form>
                    </td>
                    <td>
                        <form action="/control-panel/students/delete" method="GET">
                            <input type="hidden" name="reg" value="false">
                            <input type="hidden" name="id" value="{{ student['student_id'] }}">
                            <button class="btn btn-danger" href="/control-panel/students/delete"  style="width:70px;">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
</div>
{% endblock %}