{% extends "control-panel/control-panel.html" %}
{% block title %} <title>Issue: {{ issue['title'] }}</title> {% endblock %}
{% block contents %}
<div class="col-md-10 col-sm-8 main-content">
    <div style="margin-top: 60px; text-align: left; padding-bottom: 150px;">
        <fieldset class="form-group">
            <legend  style="font-family:'Oswald', sans-serif; text-align: center;">Read Message</legend>
            <p><b>Title:</b> {{ issue['title'] }}</p>
            <p><b>Name:</b> {{ issue['name'] }}</p>
            <p><b>Email:</b> {{ issue['email'] }}</p>
            {% if solve %}
            <p><b>Solved by:</b> {{ issue['solved_by'] }}</p>
            <p><b>Receive Date:</b> {{ issue['receive_date'] }}</p>
            <p><b>Solve Date:</b> {{ issue['date'] }}</p>
            {% else %}
            <p><b>Date:</b> {{ issue['date'] }}</p>
            {% endif %}
            <hr/>
            <b>Message:</b>
                <div style="padding: 10px; margin:10px; background-color:gainsboro; border-radius: 5px;">
                {{ issue['message'] }}
                </div>
            {% if not solve %}
            <div style="width: 200px; position:relative; left:41%;">
                <form action="/control-panel/issues/replay/{{ issue['id'] }}">
                    <button class="btn btn-primary">Replay to Message</button>
                </form>
            </div>
            {% endif %}
      </fieldset>
      </div>
    </div>
</div>
{% endblock %}