<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/register_page.css" rel="stylesheet">
    </head>
    <body>
        <div class="signup-page">
            {% include "includes/_flashmsg.html" %}
            <div class="form">
            <h4 style="text-align: center; font-family: 'Oswald';">Professor Account Register</h4>
            <form class="signup-form" method="POST" action="/register/professor">
                <input maxlength="40" type="text" name="staff_id" placeholder="Staff ID" required/>
                <input type="email" maxlength="40" name="email" placeholder="Email Address" required/>
                <input type="password" maxlength="20" name="password" placeholder="Password" required/>
                <input type="password" maxlength="20" name="confirm" placeholder="Confirm Password" required/>
                <button>Register</button>
            </form>
            </div>
        </div>
        <script src="/static/vendor/jquery/jquery.min.js"></script>
        <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

          <!-- Footer -->
          <footer class="py-5 bg-blue">
                <div class="container">
                  <p class="m-0 text-center text-white">Copyright &copy; ABC University 2018</p>
                </div>
                <!-- /.container -->
          </footer>
    </body>
</html>