<!DOCTYPE html>
<html>
    <head>
        <title>Recover Password</title>
        <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/login.css" rel="stylesheet">
    </head>
    <body>
        <div class="login-page">
            {% include "includes/_flashmsg.html" %}
            <div class="form" style="height: 440px;">
            <h2 style="font-family: 'Oswald'; text-align: center; margin-top: 10px;">Recover Password</h2>
            <form class="login-form" method="POST" action="" style="margin-top: 20px;" >
                <select class="form-control" name="role" required style="margin-bottom: 10px;">
                    <option>Choose Role</option>
                    <option value="student">Student</option>
                    <option value="employee">Employee</option>
                    <option value="teacher">Teacher</option>
                </select>
                <input maxlength="40" type="text" name="id" placeholder="ID" required/>
                <input type="email" maxlength="100" name="email" placeholder="Account Email Address" required/>
                <div style="margin-left: 20px; margin-bottom: 10px;">
                {{ recaptcha }}
                </div>
                <button>Recover My Password</button>
            </form>
            </div>
        </div>
        <script src="/static/vendor/jquery/jquery.min.js"></script>
        <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

          <!-- Footer -->
          <footer class="py-5 bg-blue">
                <div class="container">
                  <p class="m-0 text-center text-white">Copyright &copy; ABC University 2018</p>
                </div>
                <!-- /.container -->
          </footer>
    </body>
</html>